
.vs/Simple Calculator/v16/Server/sqlite3/storage.ide
.vs/Simple Calculator/v16/Server/sqlite3/db.lock
.vs/Simple Calculator/v16/Server/sqlite3/storage.ide-shm
.vs/Simple Calculator/v16/Server/sqlite3/storage.ide-wal
.vs/slnx.sqlite
.vs/Simple Calculator/DesignTimeBuild/.dtbcache
.vs/Simple Calculator/v16/.suo
.vs/VSWorkspaceState.json
